---
// si no se va a escribir nada en el frontmatter, se puede omitir. Después se puede agregar de ser necesario..
---

<div class="nav-links">
  <a href="/">Home</a>
  <a href="/acerca">Acerca</a>
  <a href="/cafes">Cafés</a>
  <a href="/tags/">Tags</a>
</div>
